extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/' method='POST')
    label(for='clase') Agragar nueva clase
    input(type='text' name='nombre')
  each c in clases
    a(href='/#{c.nombre}')= c.nombre
    form(action='/#{c.nombre}/update' method='POST' id='formClassUp')
      input(type='text' name='nombre')
    br
